# Reusable workflow to setup a specific WMCore component for pip

on:
  workflow_call:
    inputs:
      wmcore_component:
        required: true
        type: string

jobs:
  build_images_from_template:
    runs-on: ubuntu-latest
    steps:
      - name: Get the Ref
        id: get-ref
        uses: ankitvgupta/ref-to-tag-action@master
        with:
          ref: ${{ github.ref }}
          head_ref: ${{ github.head_ref }}

      - uses: actions/checkout@v3
      - name: Setup python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: "3.8"
      - name: Upgrade pip3
        run: |
          python3 -m pip install --upgrade pip
      - name: Clone WMCore
        run: |
          git clone https://github.com/dmwm/WMCore.git
      - name: Update the setup script template with package name
        run: |
          cd WMCore
          sed "s/PACKAGE_TO_BUILD/${{ inputs.wmcore_component }}/" setup_template.py > setup.py
      - name: Create requirements file
        run: |
          cd WMCore
          cp requirements.txt requirements.wmcore.txt
          awk "/(${{ inputs.wmcore_component }}$)|(${{ inputs.wmcore_component }},)/ {print \$1}" requirements.wmcore.txt > requirements.txt
      - name: Build sdist
        run: |
          cd WMCore
          python setup.py clean sdist
      - name: Build image
        run: |
          cd WMCore/dist
          # we need to exclude gfal from requirements while building images
          cat ../requirements.txt | grep -v gfal2 > requirements.txt
          curl -ksLO https://raw.githubusercontent.com/dmwm/CMSKubernetes/master/docker/pypi/${{inputs.wmcore_component}}/Dockerfile.dist
          curl -ksLO https://raw.githubusercontent.com/dmwm/CMSKubernetes/master/docker/pypi/${{inputs.wmcore_component}}/run.sh
          tag=`ls | grep tar.gz | sed "s,.tar.gz,,g" | awk '{split($1,a,"-"); print a[length(a)]}'`
          echo "tag=$tag"
          sed -i -e "s,ENV TAG=.*,ENV TAG=$tag,g" Dockerfile.dist
          #sed -i -e "s,ENV TAG=.*,ENV TAG=${{steps.get-ref.outputs.tag}},g" Dockerfile.dist
          mv Dockerfile.dist Dockerfile
          cat Dockerfile
          docker build --tag registry.cern.ch/cmsweb/${{inputs.wmcore_component}}:$tag .

      - name: Images
        run: |
          docker images

#       - name: Login to registry.cern.ch
#         uses: docker/login-action@v1.6.0
#         with:
#           registry: registry.cern.ch
#           username: ${{ secrets.CERN_LOGIN }}
#           password: ${{ secrets.CERN_TOKEN }}
#  
#       - name: Publish image to registry.cern.ch
#         uses: docker/build-push-action@v1
#         with:
#           username: ${{ secrets.CERN_LOGIN }}
#           password: ${{ secrets.CERN_TOKEN }}
#           registry: registry.cern.ch
#           repository: cmsweb/${{inputs.wmcore_component}}
#           tag_with_ref: true
