# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
#     container:
#       image: cern/cc7-base
#     runs-on: cc7-base
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: "3.8"
    - name: Install system dependencies
      run: |
        yum install -y python3-gfal2 python3-gfal2-util
    - name: Install python dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Build WMCore
      run: |
        echo "build with"
        python -V
        git clone https://github.com/dmwm/WMCore.git
        pwd
        cd WMCore
        # TODO: how to install gfal2-python
        #export Boost_LIBRARYDIR=/usr/lib/x86_64-linux-gnu
        #ls /usr/lib/x86_64-linux-gnu/libboost*
        #pip install gfal2-python
        # TEMP: remove gfal2-python from requirements
        cat requirements.txt | grep -v gfal2 > r.txt
        pip install -r r.txt
        python setup.py build
